<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factory Namespace Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <!-- Page Header -->
        <header>
            <div class="page-title">Factory Namespace Manager</div>
            <div class="button-container">
                <button class="secondary-button" id="history-button">HISTORY</button>
                <button class="secondary-button" id="export-csv-button">EXPORT TO CSV</button>
                <button class="secondary-button" id="export-json-button">EXPORT TO SIGHT MACHINE</button>
                <button class="submit-button" id="submit-button">SUBMIT</button>
            </div>
        </header>

        <!-- Search Field -->

        <!-- Textarea 1 -->
        <div class="textarea-container">
            <div class="textarea-title">Example variable names and keywords in the following format: Old_Variable_Name "Old keywords" New_Variable_Name </div>
            <textarea id="input-textarea" class="textarea-large" placeholder='Old_Variable_Name "Old keywords" New_Variable_Name'></textarea>
        </div>

        <!-- Textarea 2 -->
        <div class="textarea-container">
            <div class="textarea-title">
                Additional instructions. <a href="#" class="learn-more" target="_blank">Learn More</a>
            </div>
            <textarea class="textarea-small" placeholder="Instructions"></textarea>
        </div>
    </div>

    <!-- Drawer -->
    <div class="drawer" id="drawer">
        <div class="drawer-resizer" id="resizer"></div>
        <div class="close-icon" id="close-icon">
            <!-- SVG for caret down -->
            <svg id="caret-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#0098d1">
                <path id="caret-path" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 16l-6-6h12l-6 6z" />
            </svg>
        </div>
        <!-- Drawer Title -->
        <div class="drawer-title">DATA</div>
        <!-- Data Table Container -->
        <div id="table-container" style="display: none;">
            <table class="data-table">
                    <thead>
                        <tr>
                            <th>Input Definition</th>
                            <th>New Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Rows will be generated here dynamically -->
                    </tbody>
                </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal-backdrop" id="modal-backdrop"></div>
    <div class="modal" id="modal">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">History</div>
                <span class="close-modal" id="close-modal">&times;</span>
            </div>
            <a href=""><div class="modal-body">
                2023-10-20T14:43Z_Bold_Lion
                <p>
                <span style="font-size: 11px; color: #999;">Jan. 25, 2024, at 00:00:00</span>
                </p>
            </div></a>
            <a href=""><div class="modal-body">
                2023-10-20T14:43Z_Curious_Fox
                <p>
                <span style="font-size: 11px; color: #999;">Jan. 25, 2024, at 00:00:00</span>
                </p>
            </div></a>
            <a href=""><div class="modal-body">
                2023-10-20T14:43Z_Quiet_Owl
                <p>
                <span style="font-size: 11px; color: #999;">Jan. 25, 2024, at 00:00:00</span>
                </p>
            </div></a>
            <a href=""><div class="modal-body">
                2023-10-20T14:43Z_Mighty_Eagle
                <p>
                <span style="font-size: 11px; color: #999;">Jan. 25, 2024, at 00:00:00</span>
                </p>
            </div></a>
            <a href=""><div class="modal-body">
                2023-10-21T14:43Z_Bright_Star
                <p>
                <span style="font-size: 11px; color: #999;">Jan. 25, 2024, at 00:00:00</span>
                </p>
            </div></a>
            <a href=""><div class="modal-body">
                2023-10-21T14:43Z_Wise_Panda
                <p>
                <span style="font-size: 11px; color: #999;">Jan. 25, 2024, at 00:00:00</span>
                </p>
            </div></a>
            <a href=""><div class="modal-body">
                2023-10-21T14:43Z_Fierce_Tiger
                <p>
                <span style="font-size: 11px; color: #999;">Jan. 25, 2024, at 00:00:00</span>
                </p>
            </div></a>
            <a href=""><div class="modal-body">
                2023-10-21T14:43Z_Gentle_Dove
                <p>
                <span style="font-size: 11px; color: #999;">Jan. 25, 2024, at 00:00:00</span>
                </p>
            </div></a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
